.outer {
    width: 100%;
    margin: 0 auto;
    font-family: arial;
    line-height: 20px;
}
.faq-content {
    padding: 5px 20px;
}
summary {
    width: 495px;
    background-color: #4682b4;
    color: #fff;
    padding: 16px;  
    cursor: pointer;
    position: relative;
    font-size: 16px;
    outline: none;
    margin: 10px 0px;
}
details > summary::-webkit-details-marker {
    display: none;
}
details[open] summary ~ * {
    animation: smooth 0.4s ease-in-out;
}
@keyframes smooth {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}
details > summary::after {
    position: absolute;
    content: "+";
    right: 25px;
}
details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 25px;
}