
	.l_c_h {
		width:300px;
		position:fixed;
		bottom:0;
		right:0px;
		background:#fff;
		border-radius:3px;
		z-index:5000;
						display:block;
					}
	.l_c_h .c_h {
		cursor:pointer;
		border-radius:0px;
				/*background:#c61432;*/
        background: #4682b4;
				line-height: 34px;
	}
	.l_c_h .left_c {
		color:#ebebeb;
		width:150px;
		font-size:16px;
		font-family:Arial, Helvetica, sans-serif;
	}
	.l_c_h .right_c {
		text-align:center;
		/*background:#DE4A4A;*/
    background:#ff8f32;
		line-height: 36px;
	}
	.l_c_h .right_c  a {
		color:#ebebeb;
		border-radius: 3px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
		cursor: pointer !important;
		font-size: 16px;
		line-height: normal !important;
		margin-top: 0 !important;
		padding: 1px 0px !important;
		text-align: center !important;
		text-decoration:none;
		font-weight:600;
	}
	.clear {
		clear:both;
	}
	.chat_container {
		  /*		display:none;*/
		  padding:5px 26px;
         }
	.chat_container .no_provider {
		text-align:left;
		color:#5E5652;
		font-size:12px;
		width:300px;
		padding:5px;
		font-family:Arial, Helvetica, sans-serif;
		margin-left:5px;
	}
	.chat_container .footer_c {
		text-align:left;
		color:#5E5652;
		font-size:12px;
		margin-left:10px;
		margin-bottom:10px;
		font-family:Arial, Helvetica, sans-serif;
	}
	.chat_container .footer_c a {
		text-decoration:underline;
		color:#777;
		font-size:11px;
	}
	.chat_container .chat_entry {
		margin:10px;
		margin-top:0px;
	}
	.chat_container .chat_entry p {
		margin-top:10px;
		margin-bottom:10px;
	}
	.chat_container .chat_entry h4 {
		text-align:left;
		color:#1A1A1A;
		font-weight:400;
		font-size:16px;
		margin-top:0px;
	}
	.chat_container .chat_entry input[type="text"] {
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius:2px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		color: #999;
		font-size: 13px;
		padding: 8px 8px;
		margin-bottom:5px;
		transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		width:100%;
 /* 	height:30px; */ 
		font-family:Arial, Helvetica, sans-serif;
	}
	.chat_container .chat_entry input[type="text"]:focus {
		box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		outline:0 none;
		border-color:#66afe9;
	}
	.chat_container .chat_entry input[type="submit"]{
		padding: 5px 12px;
		margin-bottom: 0;
		font-size: 12px;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius:0px;
		color: #fff;
		/*background-color: #DD4A4A;*/
    background-color: #2dc3e8 !important;
		font-family:Arial, Helvetica, sans-serif;    
	}
	.chat_container .chat_entry input[type="submit"]:hover {
		background-color: #C64545;
	}
	.form-error {
		display:none;
	}
	.chat_message {
		height:250px;
		overflow-y:scroll;
		padding:10px;
		border-bottom:1px solid #222222;
		padding-top:10px;
	}
	.chat_message .message_contain {
		margin:5px;
		background:#FCF8E2;
		padding:5px;
	}
	.chat_message .user_message {
		background:#F5F5F5;
	}
	.chat_message .message_contain  .header_image {
		float:left;
		width:50px;
		margin-top:0px;
		margin-bottom:0px;
	}
	.chat_message .message_contain .chat_mess {
		font-size:13px;
		color:#444444;
		margin-top:0px;
	}
	.chat_message .message_contain .chat_date {
		color:#777;
		font-size:11px;
		margin-top:0px;
		margin-bottom:0px;
	}
	.chat_text_area {
		margin:5px;
	}
	.chat_text_area .messag_send {
		width:100%;
		resize:none;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 2px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		color: #555;
		padding:5px;
		font-size:13px;
		height:35px;
	}
	.chat_text_area .messag_send:focus {
		box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		outline:0 none;
		border-color:#66afe9;
	}
	.left{
		float:left;
	}
	.right{
		float:right;
	}
	.left_icons{
		width:35px;
		height:auto;
		text-align:center;
		color:#999;
		/*background:#DE4A4A;*/
        background: #ff8f32;
		font-size:15px;
	}
	.left_icons a{
		color:#fff;
		font-weight:normal;
	}
	.center_icons{
		text-align:center;
		padding:2px 0px 0px 5px;
	}
	.logout img{
		margin-top:8px;
	}