:root {
  /* 
      Snagged from Material Design 
      https://material.io/design/color/the-color-system.html
  */
  --blue-gray-50: #ECEFF1;
  --blue-gray-100: #CFD8DC;
  --blue-gray-200: #B0BEC5;
  --blue-gray-300: #90A4AE;
  --blue-gray-400: #78909C;
  --blue-gray-500: #607D8B;
  --blue-gray-600: #546E7A;
  --blue-gray-700: #455A64;
  --blue-gray-800: #37474F;
  --blue-gray-900: #263238;
  
  --transition-timing: 0.25s;
  --transition-timing-function: linear;
}


.navbar {
  background: var(--blue-gray-900);
}

/* All */
.navbar-menu a {
  display: block;
  padding: 0.95rem;
  text-decoration: none;
  background: #4682b4;
  color: #fff;
}

.navbar-menu a:hover {
  background: var(--blue-gray-100);
  color: var(--blue-gray-800);
}

/* Top-level */
.navbar > .navbar-menu > li > a {
  display: inline-block;
  color: var(--blue-gray-100);
  background: transparent;
  transition: 
      background var(--transition-timing) var(--transition-timing-function),
      color var(--transition-timing) var(--transition-timing-function);
}

.navbar > .navbar-menu > li > a:hover,
.navbar > .navbar-menu > li > a:focus {
  background: var(--blue-gray-800);
  color: white;
}

.navbar-menu {
  display: flex;
}

.navbar-menu,
.navbar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Nested */
.navbar-menu ul {
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  width: 14rem;
  color: #fff;
  box-shadow: 0 0.25rem 1.5rem hsla(200, 19%, 18%, 0.05);
  transition: 
    visibility 0s var(--transition-timing-function) var(--transition-timing),
    opacity var(--transition-timing) var(--transition-timing-function);
}

.navbar-menu ul a {
  color: var(--blue-gray-50);
  transition: 
      background var(--transition-timing) var(--transition-timing-function),
      color var(--transition-timing) var(--transition-timing-function);
}

.navbar-menu ul a:hover,
.navbar-menu ul a:focus {
  background: var(--blue-gray-100);
  color: var(--blue-gray-900);
}

.navbar-menu ul > li > ul {
  left: 100%;
  top: 0;
}

.navbar-menu li {
  position: relative;
}

/* 
  HACK: Prevents box shadow from child dropdowns
  from overlapping its parent dropdown
*/
.navbar-menu li.has-children > a {
  position: relative;
}

.navbar-menu li.has-children > a:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1rem;
  background: inherit;
  z-index: 999;
}
/* ENDHACK */

.navbar-menu li:hover > ul,
.navbar-menu li:focus-within > ul /* IE11+ only */ {
  display: block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}