body {
    font-size: 14px;
}

.logo h1 {
    margin: 4px 0 4px 50px;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

#breadcrumbs {
    margin-bottom: 0;
    padding-bottom: 0;
}

.rounded-image {
    border: none;
}

.profile-info {
    padding: 3px 0;
}

.profile-text {
    height: inherit;
    font-size: 14px;
}

.profile-text-container {
    padding: 4px;
}

#user-role div div div h5{
    color: #FFF;
}

#user-role div div div hr{
    margin:5px 0;
}

#locations ul {
    margin-bottom: 10px;
}
